.price {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #02897a;
  font-size: 76px;
  font-weight: 700;
}

.price-right {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.curency {
  font-size: 24px;
}

.time {
  font-size: 16px;
  color: #afafaf;
  font-weight: 400;
}
